.default {
  box-sizing: border-box;
  padding: 10px 20px 15px 20px;
  border-top: 2px solid hsl(0, 100%, 61%);
  overflow-y: scroll;
  height: 100%;
}

.subject {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.originContainer {
  margin-bottom: 10px;
}

.origin {
  margin-right: 10px;
}

.date {
  color: grey;
}

.message {
  font-size: 16px;
  line-height: 24px;
}

.noMessage {
  composes: message;
  color: hsla(0, 0%, 30%, 1);
  font-style: italic;
}

.date {
  color: hsla(0, 0%, 30%, 1);
}

.amountContainer {
  margin-top: 25px;
  text-align: center;
  margin-bottom: 35px;
}

.amount {
  font-size: 48px;
  margin-bottom: 25px;
}

.statusModifiedAt {
  color: hsl(0, 0%, 34%);
}

.button {
  width: 100px;
  height: 50px;
  font-size: 22px;
  margin: 0px 25px;
  background: none;
  border: 1px solid;
  border-radius: 0px;
}

@media only screen and (max-width: 350px) {
  .button{
    margin: 0px 15px;
  }
}

.decline {
  composes: button;
  color: hsl(0, 71%, 38%);
  border-color: hsl(0, 71%, 38%)
}

.approve {
  composes: button;
  color: hsla(133, 71%, 21%, 1);
  border-color: hsla(133, 71%, 21%, 1);
}

.approve:hover,
.decline:hover {
  cursor: pointer
}

.approve:hover {
  background-color: hsla(133, 71%, 21%, 1);
  color: white;
}

.decline:hover {
  background-color: hsl(0, 71%, 38%);
  color: white;
}

.closeButton {
  float: right;
  box-sizing: border-box;
  font-size: 18px;
  padding: 0;
  width: 23px;
  height: 23px;
  color: hsl(0, 71%, 38%);
  border-radius: 1px;
  border: 1px solid hsl(0, 71%, 38%);
  background: none;
  font-weight: bold;
  margin-left: 10px;
}

@media only screen and (max-width: 900px) {
  .closeButton{
    font-size: 20px;
    width: 28px;
    height: 28px;
  } 
}

.closeButton:hover {
  background-color: hsl(0, 71%, 38%);
  border-color: hsl(0, 71%, 38%);
  color: white;
  cursor: pointer;
}