.container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.twoColumnView {
  display:flex;
  height: 100%;
  overflow-y: hidden;
}

.transactionsHeader {
  padding: 0 12px;
  margin-top: 0px;
}

.noTransactions {
  padding: 8px 0 0 12px;
}

.list {
  flex-grow: 1;
  list-style: none;
  width: 50%;
  padding: 0;
  margin: 0;
}

.transactionListItem:nth-child(2n) .transactionButton {
  background-color: white;
}

.transactionButton {
  border: none;
  font-size: inherit;
  text-align: inherit;
  width: 100%;
  display: block;
  padding: 0;
  margin: 0;
  background-color: rgb(244, 244, 244);
}

/* .transactionContainer:nth-child(2n) {
  background-color: white;
} */

.tDVContainer {
  width: 50%;
}

@media only screen and (max-width: 900px) {
  .twoColumnView {
    position: relative;
    display: block;
    overflow: hidden;
  }
  .list {
    /* display: inline-block; */
    height: 100%;
    width: 100%;
    background-color: white;
  }
  .tDVContainer {
    /* display: inline-block; */
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: white;
  }
  .tDVContainerVisible {
    composes: tDVContainer;
    display: block;
  }
}
