.transaction {
  padding: 8px 12px;
  background-color: rgb(244, 244, 244);
  justify-content: space-between;
}

.focusedTransaction {
  composes: transaction;
  background-color: hsl(0, 71%, 38%)!important;
  color: white;
}

.focusedTransaction .date {
  color: white;
}

.transaction:hover,
.transaction:nth-child(2n):hover {
  cursor: pointer;
  background-color: rgb(203, 203, 203);
}

.transaction:nth-child(2n) {
  background-color: white;
}

.subject {
  flex-grow: 1;
  width: 100px;
}

.origin {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 125px;
  margin-right: 5px;
}

.amount {
  text-align: left;
  width: 80px;
  margin-right: 8px;
}

.amountSign {
  text-align: left;
}

.mobileTransaction,
.desktopTransaction {
  display: flex;
  justify-content: flex-start;
}

.desktopTransaction {
  min-height: 25px;
}

.mobileTransaction {
  flex-direction: column;
  /* min-height: 60px; */
}

.mobileTopFlex {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.mobileBottomFlex {
  display: flex;
}

.date {
  color: hsla(0, 0%, 16%, 1);
}

@media only screen and (max-width: 500px) {
  .amount {
    font-size: 17px;
    font-weight: bold;
  }
}